{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}
{% load mathfilters %}

{% block title %}

	{{employee.full_name}}

{% endblock %}


{% block wrapper_css %}
<style>
body, html{

	height:100%;
}

h2 span {

	font-weight: 600;
	color:#04BFBF;
}
#search {
	background-color: #333;
	color: #eee;
	padding:.5em;
	height: 100vh;
}

#content{
	height:100vh;
	border-right: thin solid #444;

}

#more_info {
	
	height: 100vh;
}
#context{
	padding-top:1em;
}

.bar rect {
  fill:#333;
  shape-rendering: crispEdges;
}

.highlighted rect {

	fill:#04BFBF;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


#salary {
	padding-top:1em;
}
#salary h1{
	font-size: 6.27em;
}


input {
	width:80%;
	
}

</style>

{% endblock %}


{% block extra_head %}


{% endblock %}

{% block content %}

<div class="container-fluid">
	<div class='row-fluid'>
		
		<div class='span3'>

			<div id="search">
				<h3>SEARCH</h3>
				<form method="post" action="/search/" class="autocomplete-me">
					<input type="text"  placeholder='Search for employees' autocomplete="off" height='100' class="typeahead" name="q">
						<!-- <button type="submit"><img src="{% static "img/magnifyingglass_teal.png" %}" alt="Search" height="40" width="40"/>
						</button> -->
				</form>
			</div>
		</div>

		<div class='span7' id='content'>
			<div class='row-fluid'>
				<div class='span12'>
					<ul class="breadcrumb">
	  					<li><a href="{% url 'campus' primary.department.college.campus.id %}">{{primary.department.college.campus}}</a> <span class="divider">></span></li>
	  					<li><a href="{% url 'college' primary.department.college.id %}">{{primary.college}}</a> <span class="divider">></span></li>
	  					<li><a href="{% url 'department' primary.department.id %}">{{primary.department}}</a> <span class="divider">></span></li>
	  					<li class="active">{{employee.full_name}}</a></li>
					</ul>
				</div>
			</div>

			<div class="row-fluid">
			{% if employee.mug_set.all %}
				<div class="span2">
					{% for mug in employee.mug_set.all %}
					<img height="150" width="150" src="{{ MEDIA_URL }}{{ mug.image.url }}"/>
				</div>
				<div class="span9">
					{% endfor %}
			{% else %}
				<div class="span12">
			{% endif %}
					<h1>{{employee.full_name | upper}}</h1>
					<h2 style="font-size:blue">{{primary.position.title | upper}} | {{primary.college | upper}}</h2>
				</div>
			</div>

			<div class='row-fluid'>
				<div class='span12'>
					<div id='salary'>
						<h1> ${{primary.identity.proposed_total_salary | intcomma }}0</h1>
					</div>
				
				

				</div>
			</div>
			<div class='row-fluid'>
				<div class='span12'>
					<div id='context'>
						<h3>Making more than <strong>{{primary.identity.total_percentile |floatformat:"1" }}%</strong> of the rest of {{primary.college.campus}}
					</div>
				</div>
			</div>
			<div class='row-fluid'>
				<div class='span12'>
				<h3>Makes  {% if primary.identity.difference_from_dept_median > 0 %} 
								${{ primary.identity.difference_from_dept_median | intcomma }}0 more than
						{% else %}
						${{ primary.identity.difference_from_dept_median | abs }}0 less than 
						{% endif %} than the median salary in {{primary.department.name}}. 
						</h3>
				</div>
			</div>
			<div class='row-fluid'>
				<hr>
				<h2 style='text-align:center'>Where <span> {{employee.first_name}}</span> fits into {{primary.college.name}}'s salaries</h2>
				<div class='span12' id='histogram'>
				
				</div>
			</div>
		</div>
		<div class='span2' id='more_info'>
			<h2>College: {{primary.college}}</h2>
		</div>
	</div>
</div>


<script type="text/javascript">
{% verbatim %}
 $('.typeahead').typeahead({
    name: 'employees',
    valueKey: 'name',
    remote: '/search/autocomplete/?q=%QUERY',
    //THIS IS A BAD WAY TO LINK BUT I DON'T CARE.
    template: '<p><a href="../{{id}}">{{name}}</a></p>',
    engine:Hogan
  });

 $(document).ready(function() {
  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
   //$('.typeahead').text.remove()
  });
});
 {% endverbatim %}

var values = {{ college_salaries }}

var formatCount = d3.format(",.0f");


var margin = {top: 10, right: 30, bottom: 30, left: 30},
    width = (window.innerWidth/12)*6 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

var x = d3.scale.linear()
    .domain([0, d3.max(values)])
    .range([0, width]);

// Generate a histogram using binNumber uniformly-spaced bins.
var binNumber = 12;
var data = d3.layout.histogram()
    .bins(x.ticks(binNumber))
    (values);

var y = d3.scale.linear()
    .domain([0, d3.max(data, function(d) { return d.y; })])
    .range([height, 0]);

var xAxis = d3.svg.axis()
    .scale(x)
    .tickFormat(function(d) { return "$" + formatCount(d); })
    .orient("bottom");

var svg = d3.select("#histogram").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var bar = svg.selectAll(".bar")
    .data(data)
  .enter().append("g")
    //.attr("class", "bar")
    .attr("class", function(d) {
        	var holder =''
        	if ((d.x <= {{primary.identity.proposed_total_salary}}) && ((d.x + d.dx) >= {{primary.identity.proposed_total_salary}})) {
            holder = "highlighted";
        	} else {
        		holder= "bar"; 
        	} return holder; }) 
    //.attr("class", (d, i) -> if d.x <= {{primary.identity.proposed_total_salary}} && (d.x +d.dx) > {{primary.identity.proposed_total_salary}} then 'highlighted' else 'bar')
    .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });
/*
bar.filter(function(d) { return ("class" in d); })
        .attr("class", function(d) {
        	if (d.x <= {{primary.identity.proposed_total_salary}} && (d.x + d.dx) >= {{primary.identity.proposed_total_salary}}) 
            return d["highlighted"];
        });
*/

bar.append("rect")
    .attr("x", 1)
    .attr("width", x(data[0].dx)-1)
    .attr("height", function(d) { return height - y(d.y); });

bar.append("text")
    .attr("dy", ".75em")
    .attr("y", 6)
    .attr("x", x(data[0].dx)/2)
    .attr("text-anchor", "middle")
    .text(function(d) { return formatCount(d.y); });

svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

</script>


{% endblock %}