{% extends 'base.html' %}

{% load staticfiles %}




{% block title %}

	{{employee.identity.name}}

{% endblock %}




{% block content %}



<div class='row-fluid'>
	
	<div class='span2'>

	<div id="search">
	<input>
	</div>



	</div>

	<div class='span8'>

	{% if employee.identity.mug_set.all %}
		{% for mug in employee.identity.mug_set.all %}
			<img src="{{ MEDIA_URL }}{{ mug.image.url }}"/>
		{% endfor %}
	{% endif %}
	<h1>{{employee.identity.name}}</h1>

	</div>

	<div class='span2'>
	<h3>{{employee.get_primary_employment.college.name}} </h3>
	</div>

</div>

{% endblock %}